/* START navbar */
.navbar {
  background-color: #343a40;
  padding: 15px 10px;
}
.logo:hover {
  transform: rotate(360deg);
}
.logo {
  transition: transform 1s ease-in-out;
  max-width: 100%;
  width: 100px;
  height: 100px;
}
.navbar-nav .nav-link {
  color: #ffffff !important;
  margin-right: 20px;
  font-size: 18px;
}

/* stroke effect*/
.stroke {
  position: relative;
}

.stroke:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: #aaa;
  height: 1px;
  transition: width 0.3s ease; /* Smooth transition */
}

.stroke:hover:after {
  width: 100%;
}

/* END navbar */

/* START Page styling*/

.movie-windows {
  padding-top: 50px;
  padding-bottom: 100px;
}

.card {
  padding: 10px 10px;
  border-radius: 10px;
}

.contact-button {
  padding-bottom: 20px;
}

/* Text Background Animation */
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #8b8b8b;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container h1 {
  font-size: calc(100% + 10vw + 1vh);
  color: rgba(225, 225, 225, 0.01);
  background-image: url("../images/index/text_effect.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  33% {
    background-position: right bottom;
  }
  66% {
    background-position: left bottom;
  }
}

/* END Page styling*/

/* START Footer */

/* Stick footer to the bottom of the page */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
footer {
  margin-top: auto;
}

/* END Footer */

/* Adjust animation speed and font size for mobile device */
@media (max-width: 768px) {
  .text-container h1 {
    font-size: calc(100% + 15vw + 1vh);
    animation-duration: 25s;
  }
  .logo {
    transition: none;
  }
}
